.product img {
    width: 286px;
    height: 286px;
    text-align: center;
    border-radius: 8px;
    margin: 8px;
}

.product {
    width: 300px;
    height: 510px;
    border: 2px solid orangered;
    border-radius: 8px;
    color: #0E161A;
    position: relative;
}

.product-info {
    margin-top: -12px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    height: 170px;
    padding: 0px 10px;
}

.product-info p {
    margin: 5px 0px;
}

.btn {
    width: 100%;
    background-color: #FF99004D;
    padding: 13px 0px;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}

.btn:hover {
    background-color: orange;
}

.btn-icon {
    padding-left: 10px;
}