.shopDisplay {
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 944px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: auto;
    padding-top: 40px;
}

.summary {
    background-color: #FF99004D;
    padding: 20px;
}